.card-container{
    display: flex;
  flex-direction: column;
  height: 100%;
    /* min-height: 500px; */
    background-color: rgb(20, 20, 20);
    /* border-radius: 32px 32px 32px 32px; */
    
    
}

.card-container > .electric-border {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-image{
    width: 100%;    
    /* border-radius: 32px 32px 0px 0px; */
}

.card-title{
    font-family: "Shrikhand";
    font-size: 38px;
    color: white;
    padding: 20px;
    
}

.card-desc{
    padding: 20px;
    font-size: 22px;
    color: white;
    font-family: "lexend";
}