.card:hover{
    height: fit-content;
    .info{
        color: white;
    }
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-text{
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(128, 128, 128, 0.76);
    color: white;
    font-family: "lexend";
    padding: 7%;
    width: fit-content;
    text-wrap-mode: nowrap;
    border-radius: 20px;

}

.info{
    color: white;
    padding: 0px 10px 0px 10px;
    font-family: "lexend";
    font-size: 18px;
    text-align: center;
    font-weight: 100;
    color: rgb(20, 20, 20);
    transition: ease-in-out 0.2s;
}