.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    top: 0;
}
.video-bg{
    display:inline-block;
  background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;


}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
}
h2{
    font-family: "lexend";
    color: white;
    text-align: center;
    font-size: 1vmax;
    letter-spacing: 2px;
    font-weight:300;
    text-wrap: nowrap;
    animation: fadeIn 1.5s 1.5s backwards;
}

.hero-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
  /* background: rgba(0, 0, 0, 0.317);  */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, black 95%); 
}
video{
    width: 100%;
    object-fit: cover;
    max-height: 100vh;
}
.text{
    z-index: 900;
    height: fit-content;
    width: 90%;
    text-wrap: no;
    animation: fadeIn 1.5s 1s backwards;
}
.image{
width: 420px;
aspect-ratio: 1 1;
animation: fadeIn 3s  backwards;

}

@media screen and (max-width:1200px){
    .hero-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.text{
    height: fit-content;
    width: 80%;
    text-wrap: nowrap;
}
.image{
width: 300px;
aspect-ratio: 1 1;
}
}