.about-container{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 0px 0px 0px;
    position:relative;
    flex-direction: column;
    gap: 60px;

}

.abs{
    height:700px;
    width: 500px;
    position: absolute;
    right:-360px;
    bottom: -300px;
    z-index: 5;
    rotate: 30deg;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.left{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color{
    background: linear-gradient(to right,#2e5197,#6177a1, #697894 );
    background-clip: text;
    color: transparent;
}
.color2{
    animation: bounce 1s infinite backwards;
}
iframe{
    width: 100%;
    border: none;
    aspect-ratio: 1;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-section{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: -1;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.Title{
    text-align: center;
    font-weight: 500;
    margin-bottom: 0px;
    font-family: "Shrikhand";
    letter-spacing: 1px;
    font-size: 49px;
    color: white;

}

.about{
    text-wrap: wrap;

}

@keyframes fadeIn{
    from{
        transform: translateY(-200px);
        scale: 0.8;
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}