.about-container{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 300px 0px;
    position:relative;

}

.abs{
    height:70%;
    width: 50%;
    position: absolute;
    right:-560px;
    bottom: -300px;
    z-index: 5;
    rotate: 30deg;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.color{
    background: linear-gradient(to right,#e258f4,#a051e9,#7e9ff7,#747fff);
    background-clip: text;
    color: transparent;
}
.color2{
    animation: bounce 1s infinite backwards;
}
iframe{
    height: 50%;
    width: 70%;
    border: none;
    aspect-ratio: 1;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Title{
    text-align: center;
    font-family: "lexend";
    font-size: 49px;
    color: white;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.about{
    text-wrap: wrap;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

@keyframes fadeIn{
    from{
        transform: translateY(-200px);
        scale: 0.8;
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}