.Head{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 20px; 
    left: 0;
    right: 0;
    z-index: 10;
    animation: fadeIn 1.3s;
    width: 100%;    
}
.logo{
    margin-left: 20px;
    width: 80px;
}

.glass{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    gap: 20px;
}
.buttons{
    width: 80%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.header-button{
    background: none;
    color: white;
    font-size: 17px;
    width: fit-content;
    text-wrap-mode: nowrap;
    border: none;
    transition: all 0.6s;
    font-family: "lexend";
    &:hover{
        cursor:pointer;
        text-decoration: underline;
    }
}
.end{
    width: 10%;
}

@media screen and (max-width: 768px) {
    .Head {
        top: 10px;
        margin-top: 10px;
    }
    
    .logo {
        width: 50px;
        margin-left: 10px;
    }
    
    .glass {
        gap: 10px;
    }
    
    .buttons {
        width: 70%;
        gap: 10px;
        flex-wrap: wrap;
    }
    
    .header-button {
        font-size: 12px;
    }
    
    .end {
        width: 15%;
    }
}

@media screen and (max-width: 480px) {
    .Head {
        top: 10px;
        margin-top: 10px;
    }
    .logo {
        width: 40px;
        margin-left: 5px;
    }
    
    .buttons {
        width: 65%;
        gap: 5px;
    }
    
    .header-button {
        font-size: 10px;
    }
}
