.Footer-container{
    background: white;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 50px 0px 30px 0px;
}
.col{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    
}
.cols{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.links{
    text-decoration: underline;
    text-align: start;
}

a{
    font-size: 22px;
    font-family: "Shrikhand";
    letter-spacing: 1px;
    font-weight: 200;
    cursor: pointer;
}
.bottom{
    margin-top: 40px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    .socials{
        display: flex;
        gap: 20px;
    }
}