.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: relative;
  margin: 0;
}
.dark-image{
  display:inline-block;
  background: rgba(0, 0, 0, 0.511);
  width: 80%;
}

img{
  position:relative;
  z-index:-1;
  display:block;
   width:100%;
}
