.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: relative;
  margin: 0;
}
.dark-image{
  display:inline-block;
  background: rgba(0, 0, 0, 0.511);
  width: 80%;
}

img{
  position:relative;
  z-index:-1;
  display:block;
   width:100%;
}
.css{
  font-family: "Shrikhand";
  font-weight: 200;
}
.image-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-self: center;
  align-items: center;
}
.logos{
  height: 60%;
  width: 50%;
  animation: wave 4s infinite;
}

@keyframes wave {
  0%, 100% {
    transform: scaleY(0.9) scaleX(0.8); 
  }
  50% {
    transform: scaleY(1) scaleX(1); 
  }
}