body {
margin: 0;
padding: 0;
background:rgb(20, 20, 20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:500px) {
  html, body {
    overflow-x: hidden;
  }
}