.Coaches-container{
    height: fit-content;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
    margin-bottom: 200px;
    animation: fadeIn linear backwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    /* border-radius: 50px 59px 50px 50px; */

}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texts{
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: "lexend";
      
}


.title{
  margin-top: 200px;
  margin-bottom: 0px;
  color: white;
  font-family: "Shrikhand";
  font-weight: 500;
  font-size: 88px;
}
.coaches{
  margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    row-gap: 10px;
}

